body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.tombol{
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(125, 249, 125);
    padding: 20px;
    border-radius: 10px;
}
#output{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
